.middle h1 span{
    color: green;
}
.middle{
    /* justify-items: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh-85px);
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    align-items: center;
}
.userpass{
    display: flex;
    gap: 20px;
}
.userpass input{
    height: 35px;
   
    border-radius: 100px;
    padding-left: 10px;
    width: 25vw;
    border: 1px solid rgb(95, 222, 95);
}
.url input{
    height: 35px;
    
    border-radius: 100px;
    padding-left: 10px;
    width: calc(20px + 50vw);
    border: 1px solid rgb(95, 222, 95);
}
.input button{
    background-color: rgb(185, 250, 185);
    border-radius: 100px;
    padding: 10px;
    font-size:15px;
    font-weight: 600;
    border: 1px solid rgb(95, 222, 95);
    cursor: pointer;
}
table{
    border-radius: 15px;
    overflow: hidden;
    
}
.table {
  width: 100%;
  border-collapse: collapse;
}


 th {
  padding: 8px;
  margin-right:200px ;
  text-align: left;
  padding: 12px 102.5px;
}
 td {
  padding: 8px;
  margin-right:200px ;
  text-align: left;
  padding: 12px 90px;
}

.invert{
    filter:invert(1);
}
thead {
  display: table;
  
  table-layout: fixed;
  background-color: rgb(1, 76, 1);
  color: white;
  
  padding: 10px;
  table-layout: fixed;
}

tbody {
  display: block;
  height: 25vh;
  overflow-y: auto;
  table-layout: fixed;
  
  padding: 10px;

}
tbody tr {
  display: table;
  
  table-layout: fixed;
}


.deco{
    text-decoration: none;
    color: black;

}


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #494848;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

