nav h1{
    color: rgb(255, 255, 255);
    margin-left: 30px;
}
.main{
    background-color: rgb(4, 70, 4);
    height: 50px;
    display: flex;
    justify-content: space-between;

}
ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 10px;
    margin-right: 30px;
}
.main ul li{
    color: white;
    text-decoration: none;

}